<div id="text-form" class="white">

	<h4>Remind Me To Move My Car</h4>
	<h2 style="color: #ff0000 "><%= params['msg'] %></h2>
	<h5>Enter your phone number to receive a reminder to move your car:</h5>

	<%= form_tag(send_text_sms_path, remote: true) do %>
		<%= text_field_tag (:address), "#{@violation.address}" %><br>
		<%= text_field_tag (:number), nil, placeholder: "Phone Number" %><br>
		<%= label_tag :hour, "When?" %><br>



		<%= time_select :specific_time, :hour, {minute_step: 15, ampm: true} %><br>

		<%= select_tag :time, options_for_select(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]) %><br>
		 <div class="btn-form">
		 <%= submit_tag("Send Text") %>
		 </div>
	<%end%>
</div>