<h1>Search</h1>

<%= simple_form_for @violation do |f| %>
	<%= f.input :street_num, label:"Street Number" %>
	<%= f.input :street_name, label:"Street Name" %>
	<%= f.input :county, label:"County" %>
	<%= f.button :submit, "Search" %>
<% end  %>