<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- Description, Keywords and Author -->
		<meta name="should I park here" content="parking">
		<meta name="parking" content="nyc, parking">
		<meta name="peeps" content="flatiron">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ShouldIParkHere</title>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= javascript_include_tag 'autocomplete-rails.js' %>
		<%= csrf_meta_tags %>
		<%= analytics_init if Rails.env.production? %>
				
		<!-- Favicon -->
		<link rel="shortcut icon" href="#">
	</head>
	
	<body>
		
		<!-- UI X -->
		<div class="ui-21">
				<!-- UI Image -->
				<div class="ui-image">
					<i class="icon"></i> 
					<!-- Heading -->
					<h1>Know Parking NYC</h1>
				</div>
				<!-- UI Content -->
				<div class="ui-content">
					<!-- Ui Form -->
					<div class="ui-form">
						<div class="row">
									<!-- Form Group -->
							<div class="form-group">

										<%= yield %>

								<div class="search-result"></div>
								<div class = "white" class="ui-form" id="nyc-tweet">
									<p><a href ="https://twitter.com/nycasp">NYC Says:</a> "<%= @tweet %>"</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<div class="sms-form"></div>
	</body>
</html>